/* className variable I guess*/
.container-div{
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

/* id variable smtg like that*/
#main-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    color: royalblue;
    font-weight: bold;
    font-size: 70;
}
#row-header{
    justify-content: center;
    margin-top: 30px;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: royalblue;

}


#student_c{
    width:auto;
    display: flex;
  }
  
#studentFlex{
    justify-content: center;
    align-items: center;
    display:flex;
    vertical-align: auto;
    margin-left:105px;
    border-style: solid;
    border-color: black;
  }

#stud{
    justify-content: center;
    font-weight: bold;
    margin-bottom:15px;
    display: flex;
  }

#org{
    justify-content: center;
    font-weight: bold;
    margin-bottom:15px;
    display: flex;
  }


#orgFlex{
    justify-content: flex-end;
    display: flex;
    vertical-align: auto;
    margin-left: 200px;
    height:auto;
    border-style: solid;
    border-color: blue;
  }

#list1{
    list-style-type: disc;

  }

#list2 {
    list-style-type: disc;

  
  }
#title-stud {
    font-weight: bold;
    margin-bottom: 10%;
}

#row-header{
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 100;
    color: royalblue;
}