<div bgcolor="#ffffff" text="#000000" style="background-color:#ffffff;color:#000000;margin:0px;padding:0px">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
            <tr>
                <td align="center" valign="top">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0"
                                        style="border-color:#000000;border-width:1px;border-style:solid"
                                        bgcolor="#ffffff" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span style="font-size:5px;color:darkcyan">

                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="background-repeat:no-repeat;vertical-align:top;background-size:cover;background-image:url('https://ci6.googleusercontent.com/proxy/bi59_nnbudfSvP9jn7MFSFbbjl3zXmNb_kaWSu0zYuIwh1l_IUwcoa3W95UmXcH3i7iNuVMraUfcNP50mnlzoRddwW9QvTbXCGH2G4EL7rLvazz04rnWm3feMpvi-UEDyjY_WJ8lKmhv4ydUjCQCuoF2EA=s0-d-e1-ft#https://image.a.e.monash.edu/lib/fe8213727c630c7476/m/1/d9578b58-732d-469b-b54b-1a39100855aa.jpg');height:200px;padding-top:0;margin-top:0">

                                                                        <p
                                                                            style="margin-top:0px!important;padding-top:70px;padding-left:20px;padding-right:120px;color:white;font-size:30px;font-family:Arial Narrow,Arial,sans-serif;font-stretch:condensed">
                                                                            {{eventName}}
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="padding-top:20px;padding-left:20px;padding-bottom:20px;font-family:arial,helvetica,sans-serif;font-size:14px">
                                                                        <p>
                                                                            Dear {{name}},
                                                                        </p>
                                                                        <p>
                                                                            You have successfully signed up for this
                                                                            event!

                                                                        </p>
                                                                        <p>
                                                                            We look forward to welcoming you to the
                                                                            event.
                                                                        </p>
                                                                        <p>If you have any questions or need further
                                                                            information, please don't hesitate to
                                                                            contact us.</p>
                                                                        <p>Regards, <br><b>SEMS</b></p>
                                                                        <p>Please do not reply to this email as it has
                                                                            been sent from an unattended mailbox.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#fff">

                        <tbody>
                            <tr>
                                <td bgcolor="#FFFFFF">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><u></u>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>