<div bgcolor="#ffffff" text="#000000" style="background-color:#ffffff;color:#000000;margin:0px;padding:0px">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
            <tr>
                <td align="center" valign="top">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0"
                                        style="border-color:#000000;border-width:1px;border-style:solid"
                                        bgcolor="#ffffff" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span style="font-size:5px;color:darkcyan">

                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="background-repeat:no-repeat;vertical-align:top;background-size:cover;background-color:#e1e4e8;height:200px;padding-top:0;margin-top:0">

                                                                        <p
                                                                            style="margin-top:0px!important;padding-top:70px;padding-left:20px;padding-right:20px;padding-bottom:70px;color:black;font-size:30px;font-family:Arial Narrow,Arial,sans-serif;font-stretch:condensed;font-weight: bold;">
                                                                            {{eventName}}
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation" style="min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="padding-top:10px;padding-left:20px;padding-right:20px;padding-bottom:20px;font-family:arial,helvetica,sans-serif;font-size:14px;text-align:justify;">
                                                                        <p style="font-weight: bold;">
                                                                            Dear {{name}},
                                                                        </p>
                                                                        <p>
                                                                            This is a friendly reminder about the upcoming event that you have registered for.
                                                                        </p>
                                                                        <p>
                                                                            To ensure you have all the latest information and instructions for the event, we kindly request you to visit our SEMS platform at https://www.monash.edu.my.
                                                                            This is where you'll find all the details you need, including event details, attire recommendations, instructions, and any updates or changes.
                                                                        </p>
                                                                        <p>We appreciate your involvement and excited to have you join us! Mark your calendar for your event as we eagerly await your presence!</p>
                                                                        <p>Regards, <br><b>SEMS</b></p>
                                                                        <p style="color:#74787e">Please do not reply to this email as it has
                                                                            been sent from an unattended mailbox.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>